* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20vw 0;
    background-image: radial-gradient(#3f5efb, #fc466b);
    
    #number {
        font-size: x-large;
    }

    button {
        font-size: x-large;
        padding: 15px;
        background-image: linear-gradient(#22c1c3, #fdbb2d);
    }

    & > input, button {
        margin-top: 20px;
    }
}
