$fa-font-path: "../node_modules/@fortawesome/fontawesome-free/webfonts";
@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    to top,
    #d5dee7 0%,
    #ffafbd 0%,
    #c9ffbf 100%
  );
  height: 100vh;
  width: auto;
  max-width: 80vw;
  max-height: 100vh;
  margin: 0 auto;
}

.title {
  font-size: 3rem;
  background-color: #222;
  color: white;
  width: 100vw !important;
  margin: 0 -10vw !important;
  padding: 2rem 0 !important;
}

.footer {
  font-size: 1.5rem;
  background-color: #222;
  color: white;
  width: 100vw !important;
  margin: 0 !important;
  padding: 1rem 0 !important;

  a {
    background-image: linear-gradient(
      to right,
      #d5dee7 0%,
      #ffafbd 0%,
      #c9ffbf 100%
    ) !important;
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }
}
